<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: content (~{::body})">
<body>
<h1 th:text="${circunscripcion?.codCir} != null ? 'Editar circunscripción' : 'Nueva circunscripción'">Nueva</h1>

<form class="form" th:action="${circunscripcion?.codCir} != null ? @{'/admin/circunscripciones/editar/' + ${circunscripcion.codCir}} : @{/admin/circunscripciones}"
      method="post">
    <div class="grid-2">
        <label>
            Código
            <input type="text" name="codCir" th:value="${circunscripcion?.codCir}" th:readonly="${circunscripcion?.codCir} != null" required>
        </label>
        <label>
            Nombre
            <input type="text" name="nombreC" th:value="${circunscripcion?.nombreC}" required>
        </label>
        <label>
            Tipo
            <select name="tipo" required>
                <option th:selected="${circunscripcion?.tipo}=='TERRITORIAL'">TERRITORIAL</option>
                <option th:selected="${circunscripcion?.tipo}=='ESPECIAL'">ESPECIAL</option>
            </select>
        </label>
        <label>
            Curules
            <input type="number" name="curules" th:value="${circunscripcion?.curules}" required>
        </label>
    </div>
    <div class="form-actions">
        <button class="btn-primary">Guardar</button>
        <a class="btn" th:href="@{/admin/circunscripciones}">Cancelar</a>
    </div>
</form>
</body>
</html>
